<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/">Бренд</a></li>
  <li role="presentation"><a href="#">Все карточки</a></li>
  <li role="presentation"><a href="#">Добавить карточку</a></li>
</ul>


