<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/">Бренд</a></li>
  <li role="presentation"> <%= link_to 'Все карточки', cards_path %> </li>
  <li role="presentation"><%= link_to 'Добавить карточку', new_card_path %></li>
</ul>


